<footer>
    <div class="footerContent">
        <div class="footerhead">
            <img src="/media/icons/genies.png" alt="">
            <h2>GENIES</h2>
        </div>

        <div class="footerLinks">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">Privacy Policy</a>

        </div>
        <p style="margin: 0; margin-top: 2rem;">Designed and Developed by Ali Benkarrouch</p>
        <p>Copyright © 2024 Ali Benkarrouch. All rights reserved.</p>
    </div>
    
</footer>